.course {
  margin: 45px auto;
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

a {
  outline: none;
  text-decoration: none;
}

.course-card {
  width: 365px;
  height: 325px;
  cursor: pointer;
  transition: all 0.3s linear;
  background: white;
  margin: 0 15px 30px; 
}

.course-card-img {
  height: inherit;
  display: flex;
  position: relative;
}

.course-card-sub {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 95px;
  background-color: #e3ebe1;
}

.course-card-sub p {
  margin-top: 40px;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #a3a3a3;
  transition: all 0.3s linear;
}

.course-card:hover p {
  transition: all 0.3s linear;
  color: #457938;
}

.course-card:hover {
  -moz-box-shadow: 11px 9px 61px -5px rgba(0,0,0,0.71);
  box-shadow: 11px 9px 61px -5px rgba(0,0,0,0.71);
}
