* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

.navBar {
  padding-top: 15px;
  padding-bottom: 2px;
  width: 1170px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.navBar a {
  margin: 20px;
  color: #457938;
  text-decoration: none;
  font-family: Lato;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.nav-bar a:hover {
  transform: scale(1.1);
  color: green;
}

.regBtn {
  font-size: 18px !important;
  color: white !important;
  background-color: #457938;
  padding: 5px 40px;
  border-radius: 15px;
}

.logo {
  width: 80px;
  height: 50px;
}

.search {
  margin-top: 20px;
  width: 350px;
  height: 30px;
  margin-left: 45px;
  outline: none;
  border-radius: 16px;
  border: 1.5px solid#457938;
  padding: 13px;
  font-family: "Open Sans", sans-serif;
}


.nav-bar {
  display: contents;
}

@media screen and (max-width: 1148px) {
  .search {
    width : 200px;
    height : 45px;
    margin-top : 10px;
    margin-left : 35px;
  }
}


@media screen and (max-width: 960px) {
  .nav-bar a {
    display: none;
  } 


  .imgRow {
    display: block !important;
  }

  .subjects {
    width : 100% !important;
    height: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shadow {
    height: 180px !important;
    width: 325px !important;
    margin: 0;
  }
}
/* Header End */
