.std-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #CEDCCB;
}

.page-nav {
    width: 550px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.page-nav img {
    width: 25px;
    vertical-align: sub;
}

.std-courses {
    background-color: grey;
    width: 1150px;
    height: 700px;
    margin: 45px auto;
}
button{
    cursor: pointer;
}
.logout{
    height: 75px;
    width: 75px;
    border-radius: 50px;
}

.dropbtn {
    background-color: rgb(75, 102, 76);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 500px;
  }
  .dropbtn img{
    width: 15px;
    height: 15px
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 500px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  
  .dropdown:hover .dropbtn {
    background-color: #303d30;
  }