@import url("https://fonts.googleapis.com/css?family=Anton|Open+Sans:400,400i,600,600i,700,700i,800");
.App {
  text-align: center;
}

button {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.loading {
  margin-top: 60px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
}

.loading img {
  height: 20%;
  width: 20%;
  margin: 0 auto;
  animation: rolling;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}

@keyframes rolling {
  0% {
  }
  100% {
    transform: rotate(720deg);
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  transition: opacity 0.3s ease-out;
}
